@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

html {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.color-primary {
  color: #0b2f49;
}

.bg-primary {
  background-color: #0b2f49;
}

.accordion-box {
  height: 375px;
}

.accordion-span-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  width: 60%;
}